body {
  background: rgba(153, 153, 243, 0.726);
  padding-left: 20%;
  padding-right: 10%;
}
section {
  width: 100%;
  height: 100%;
}

.main-content {
  padding: 1em 1em 1em 3em;
  box-shadow: 2px 2px 5px #333;
  background: white;
  width: 70%;
}
button {
  width: 60%;
  padding-top: 2em;
  background: rgb(40, 40, 163);
  color: white;
  margin-bottom: 2em;
  justify-content: center;
}
.start {
  width: 60%;
  padding-top: 2em;
  background: white;
  color: black;
  margin-bottom: 2em;
  justify-content: center;
}
