body {
  background: rgba(153, 153, 243, 0.726);
  padding-left: 20%;
  padding-right: 10%;
}
section {
  width: 100%;
  height: 100%;
}

#container {
  margin: 20px auto;
  background-color: white;
  height: 300px;
  width: 700px;
  border-radius: 5px;
  box-shadow: 0px 5px 15px 0px;
  position: relative;
}

button {
  width: 60%;
  padding: 2em;
  background: rgb(40, 40, 163);
  color: white;
  margin-bottom: 2em;
  justify-content: center;
}
#start {
  font-size: 1.5em;
  font-weight: bolder;
  word-break: break-all;
  width: 80%;
  height: 15%;
  border: 2px solid lightgrey;
  text-align: center;
  cursor: pointer;
  color: lightgrey;
}
#start:hover {
  border: 3px solid lightseagreen;
  color: lightseagreen;
}

#timer {
  text-align: right;
}

#score {
  text-align: right;
}

#question {
  width: 85%;
  height: 5%;
  right: 0;
  top: 0;
}

.choice {
  display: inline-block;
  width: 135px;
  text-align: center;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
}
.choice:hover {
  border: 2px solid grey;
  font-weight: bold;
}
